@import '../../index.scss'; // Import the main styles for consistent variables

.profile-view {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: $primary-color;
  border-radius: 8px;
  color: whitesmoke;

  h1,
  h3 {
    color: $secondary-color;
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;

    .remove-button {
      background-color: $highlight-color;
      color: whitesmoke;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}