@import '../index.scss'; // Import the main styles for consistent variables

.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: $primary-color;
  border-radius: 8px;
  color: whitesmoke;

  .input-field {
    background-color: whitesmoke;
    border: none;
    color: $primary-color;
  }

  .signup-button {
    background-color: $highlight-color;
    color: whitesmoke;

    &:hover {
      background-color: $secondary-color;
    }
  }
}